# --- Flutter ---
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
coverage/

# --- Android ---
android/local.properties
android/.gradle/
android/app/.cxx/
android/app/schemas/
*.iml
.idea/
.gradle/

# --- Misc ---
*.log
.DS_Store
